<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="fouronefour">
        <img class="no-found-picture" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/51/PFC_Levski_Sofia.svg/1200px-PFC_Levski_Sofia.svg.png" />
      </div>
      <div class="no-found-template">
        <h1>
          There aren't any treks, yet!</h1>
        <h2>
          What do you have in mind?</h2>
        <div class="no-found-details">
          Be the first explorer!
        </div>
        <div class="actions">
          <a routerLink="/treks/request" class="btn btn-dark btn-lg">Create the first trek? </a>
        </div>
      </div>
    </div>
  </div>
</div>

