<form class="create-trek" #requestForm="ngForm" (ngSubmit)="requestHandler(requestForm.value)">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Wish for a new adventure!</h1>
    <p>Fill up the following information!</p>
  </div>

  <div class="form-label-group">
    <input #locationInput="ngModel" type="text" ngModel name="location" class="form-control" placeholder="Location"
    autofocus="" required minlength="6">
    <p class="error-message" *ngIf="locationInput.invalid && locationInput.touched">The location should be at least 6 characters long.</p>
    <label for="inputTrekName">Location</label>
  </div>

  <div class="form-label-group">
    <input type="text" #dateInput="ngModel" ngModel name="dateTime" class="form-control" required placeholder="Date"
    pattern="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$" >
    <p class="error-message" *ngIf="dateInput.invalid && dateInput.touched">Please ada a valid date format: dd-mm-yyyy</p>
    <label for="inputTrekDate">Date</label>
  </div>

  <div class="form-label-group">
    <textarea #desInput="ngModel" type="text" ngModel  name="description" class="form-control" placeholder="Description" required minlength="10" ></textarea>
    <p class="error-message" *ngIf="desInput.invalid && desInput.touched">The description should be at least 10 characters long.</p>
    <label for="inputTrekDescription">Description</label>
  </div>

  <div class="form-label-group">
    <input type="text" #imageInput="ngModel" ngModel name="imageURL" class="form-control" placeholder="Image" autofocus="" required pattern="^(https://|http://|www\.)\S*">
    <p class="error-message" *ngIf="imageInput.invalid && imageInput.touched">Please ada a valid URL</p>
    <label for="inputTrekImage">Image</label>
  </div>

  <div style="display: none">
    <input [ngModel]="organizer" name="organizer" />
    <input ngModel name="likes" />
  </div>

  <button class="btn btn-lg btn-dark btn-block" [disabled]="requestForm.invalid">Make a wish =)</button>
</form>
