<form #editForm="ngForm" class="create-trek" (ngSubmit)="editHandler(editForm.value)">

  <div class="form-label-group">
    <input [ngModel]="location" type="text"  name="location" class="form-control" placeholder="Location">
    <label for="inputTrekName">Location</label>
  </div>

  <div class="form-label-group">
    <input [ngModel] = "date" type="text" name="dateTime" class="form-control" placeholder="Date" >
    <label for="inputTrekDate">Date</label>
  </div>

  <div class="form-label-group">
    <textarea type="text" [ngModel]="description" name="description" class="form-control" placeholder="Description" ></textarea>
    <label for="inputTrekDescription">Description</label>
  </div>

  <div class="form-label-group">
    <input type="text" [ngModel] = "imageUrl" name="imageURL" class="form-control" placeholder="Image" autofocus="">
    <label for="inputTrekImage">Image</label>
  </div>
  <div style="display: none">
    <input name="organizer" value="" />
    <input name="likes" value="" />
  </div>

  <button class="btn btn-lg btn-dark btn-block" type="submit">Edit the trek</button>
</form>

